{% extends 'base.html.twig' %}

{% block title %} {% trans %} Item Index {% endtrans %} {% endblock %}

{% block body %}
    <div class="container">
        <h1> {% trans %} Item Index {% endtrans %} </h1>

        <div class="d-flex justify-content-end">
            <a class="btn btn-primary" href="{{ path('item.create') }}">
                Add New Item
                <i class="fas fa-plus "></i>
            </a>
        </div>

        {% include "shared/_notice.html.twig" %}

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td> {{ loop.index }} </td>
                    <td> {{ item.name }} </td>
                    <td> {{ item.quantity }} </td>
                    <td> {{ item.description }} </td>
                    <td>
                        <form method="POST" action="{{ path('item.delete', {'id': item.id}) }}">
                            <a class="btn btn-outline-info" href="{{ path('item.edit', {'id': item.id}) }}">
                                {{ 'Edit'|trans }}
                                <i class="fas fa-pencil-alt"></i>
                            </a>

                            <button class="btn btn-outline-danger">
                                {{ 'Delete'|trans }}
                                <i class="fas fa-trash  "></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
